// sidebar
$--color-primary: #f1c971;
$menuText: #333;
$menuActiveText: $--color-primary;
$subMenuActiveText: $--color-primary; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #eaedf4;
$menuHover: #dde1ea;

$subMenuBg: #eaedf4cc;
$subMenuHover: #dde1ea;

$sideBarWidth: 210px;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}

.nest-menu {
  > a,
  .el-submenu__title {
    border-left: 3px solid #409eff;
  }
}
